# -*- conf -*-
# vim: fdm=marker :
[include]
    path = ~/.gitauth
[color]
    ui = true
[color.diff]
    meta = yellow bold
    func = magenta bold
[core]
    pager  = less
    excludesfile = ~/.gitignore
    quotepath = false
[mergetool.emacs]
    cmd = emacsclient -c --eval \"(progn (flet ((yes-or-no-p (prompt) t)) (find-file \\\"$MERGED\\\")) (smerge-ediff))\"
    trustExitCode = false
[mergetool.ediff]
    cmd = emacs --eval \" (progn (defun ediff-write-merge-buffer () (let ((file ediff-merge-store-file)) (set-buffer ediff-buffer-C) (write-region (point-min) (point-max) file) (message \\\"Merge buffer saved in: %s\\\" file) (set-buffer-modified-p nil) (sit-for 1))) (setq ediff-quit-hook 'kill-emacs ediff-quit-merge-hook 'ediff-write-merge-buffer) (ediff-merge-files-with-ancestor \\\"$LOCAL\\\" \\\"$REMOTE\\\" \\\"$BASE\\\" nil \\\"$MERGED\\\"))\"
    trustExitCode = false
[mergetool.p4merge]
    cmd = "p4merge $BASE $LOCAL $REMOTE $MERGED"
    keepTemporaries = false
    trustExitCode = false
    keepBackup = false
[merge]
    tool = meld


[difftool.p4merge]
    cmd = "p4merge $LOCAL $REMOTE"
[difftool]
    prompt = false
[diff]
    tool = meld


[push]
    default = simple
[rebase]
    autosquash = true

[alias]
    unstage        = reset HEAD --
    visual         = !gitk --all
    cd             = checkout
    ls             = status --short
    a              = add
    au             = add --update
    ap             = add --patch
    co             = commit
    coa            = commit --amend
    coam           = commit --amend --no-edit
    com            = commit -m
    r              = rebase
    ri             = !GIT_EDITOR=vim git rebase -i
    quicklog       = !git log --decorate --abbrev-commit --color --pretty=format:'%C(yellow)%h%Creset %C(bold blue)<%an>%Creset %Cgreen(%ar)%Creset %s' | head -n 30
    ql             = !git quicklog
    graph          = "!fun() { git log --graph --decorate --color --pretty=format:'%C(auto)%h%Creset %C(bold blue)<%<(10,trunc)%an>%Creset %Cgreen(%<(14,trunc)%ar)%Creset%C(auto)%d%Creset %s' \"$@\"; }; fun"
    graphmark      = "!fun() { git graph \"$@\" | ack --color --passthru `git rev-parse HEAD 2> /dev/null | sed 's/^\\(.\\{7\\}\\).*$/\\1/'` 2> /dev/null; }; fun"
    g              = !git graph
    gf             = !git graph --first-parent
    d              = diff
    ds             = diff --staged
    dw             = diff --color-words
    diffw          = diff --color-words
    rerere-enable  = !touch .git/rr-cache
    forget         = rm --cached
    rescue         = !git rev-list -g --all | xargs git graph
    rescuek        = !git rev-list -g --all | xargs gitk
    f              = "!fun() { git forest --sha \"$@\" | less -RXFS; }; fun"
    ff             = merge --ff-only '@{u}'
    unmerged       = branch --no-merged
    merged         = branch --merged
    unfuck         = reset --hard '@{1}'
    rape           = !git add -A && git commit --amend --no-edit && git push --force-with-lease

    tar            = "!f(){ local NAME; NAME=$(basename $(git rev-parse --show-toplevel)); git archive --format=tar --prefix=$NAME/ HEAD | gzip > $NAME.tar.gz; echo \"Archive produced: $NAME.tar.gz\"; }; f"

    ribbon         = tag --force _ribbon origin/master
    catchup        = log --patch --reverse --topo-order _ribbon..origin/master
[gui]
    spellingdictionary = none
[advice]
    detachedHead = false
[instaweb]
    browser = luakit
    httpd = lighttpd
    port = 30080
[browser.luakit]
    cmd = luakit
[magit]
    hideCampaign = true
