# vim: set ft=conf :
set -g status-bg black
set -g status-fg white
{% if tmux_version < (2,9) -%}
setw -g window-status-current-bg magenta
setw -g window-status-current-attr bold
{% else -%}
setw -g window-status-current-style "bg=magenta bold"
{% endif -%}
set -g status-interval 15
set -g status-right ' #[default]#[fg=green][ %H:%M, %d %b ]'
set -g status-left '#[fg=blue][#S]'
set -g set-titles on
set -g set-titles-string '#T'
set -g history-limit 50000

{% if tmux_version < (2,1) -%}
setw -g utf8 on
set -g mode-mouse on
set -g mouse-resize-pane on
set -g mouse-select-pane on
set -g mouse-select-window on
{%- else -%}
set -g mouse on
{%- endif %}

setw -g mode-keys emacs
set -g bell-action any

setw -g aggressive-resize

set -g escape-time 0

set -g prefix C-z
unbind C-b
bind z send-prefix
bind C-z last-window

{% if tmux_version < (1,9) -%}
bind S split-window -v
bind - split-window -v
bind | split-window -h
bind C-c new-window
{%- else -%}
bind S split-window -v -c '#{pane_current_path}'
bind - split-window -v -c '#{pane_current_path}'
bind | split-window -h -c '#{pane_current_path}'
bind C-c new-window -c '#{pane_current_path}'

bind '"' split-window -v -c '#{pane_current_path}'
bind % split-window -h -c '#{pane_current_path}'
bind c new-window -c '#{pane_current_path}'
{%- endif %}

bind a set synchronize-panes

bind r source-file ~/.tmux.conf

bind M-c new-session
