! vim: set fdm=marker :

Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xft.lcdfilter:  lcddefault

!xterm

xterm*background: black
xterm*foreground: white
xterm*highlightColor: white
xterm*color1: #dc0000
xterm*color2: #00cc00
xterm*color3: #c4a000
xterm*color4: #5485c4
xterm*color5: #95709b
xterm*color6: #0b939b
xterm*color7: #d3d7cf
xterm*color8: #555753
xterm*color9: #ef2929
xterm*color10: #00ff00
xterm*color11: #fce94f
xterm*color12: #729fcf
xterm*color13: #ad7fa8
xterm*color14: #00f5e9
xterm*color15: #eeeeec
! {{{
!xterm*color1: #cc0000
!xterm*color2: #4e9a06
!xterm*color3: #c4a000
!xterm*color4: #3465a4
!xterm*color5: #75507b
!xterm*color6: #0b939b
!xterm*color7: #d3d7cf
!xterm*color8: #555753
!xterm*color9: #ef2929
!xterm*color10: #8ae234
!xterm*color11: #fce94f
!xterm*color12: #729fcf
!xterm*color13: #ad7fa8
!xterm*color14: #00f5e9
!xterm*color15: #eeeeec
! }}}
XTerm*faceName: DejaVu Sans Mono Book
XTerm*faceSize: 12
XTerm*metaSendsEscape: true
XTerm*eightBitInput: false


!urxvt

urxvt*background: black
urxvt*foreground: #eeeeee
urxvt*colorBD: #ffffff
urxvt*highlightColor: #5555ff
urxvt*color0: #111111
urxvt*color1: #dc0000
urxvt*color2: #00cc00
urxvt*color3: #c4a000
urxvt*color4: #4276b8
urxvt*color5: #95709b
urxvt*color6: #0b939b
urxvt*color7: #d3d7cf
urxvt*color8: #555753
urxvt*color9: #ef2929
urxvt*color10: #00ff00
urxvt*color11: #fce94f
urxvt*color12: #729fcf
urxvt*color13: #ad7fa8
urxvt*color14: #00f5e9
urxvt*color15: #eeeeec
urxvt.font: xft:terminus:pixelsize=12:antialias=false
!URxvt*font: xft:DejaVu Sans Mono:style=Book:size=10.5:antialias=true:hinting=true
URxvt.imLocale: en_US.utf8
!URxvt.iso14755_52: false
!URxvt.iso14755: false

urxvt.scrollBar: false
urxvt.urgentOnBell: true
Urxvt.secondaryScroll: false


URxvt.perl-ext-common: default,matcher,confirm-paste,url-select,keyboard-select,autocomplete-ALL-the-things,cwd-spawn
URxvt.url-select.launcher: webbrowser-dwim
URxvt.url-select.autocopy: true
URxvt.matcher.button: 3
! URxvt.matcher.pattern.1: \\bwww\\.[\\w-]\\.[\\w./?&@#-]*[\\w/-]
URxvt.tabbed.tabbar-fg: 3
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg:    0
URxvt.tabbed.tab-bg:    2
URxvt.tabbed.title: false
URxvt.tabbed.autohide: true
! URxvt.keysym.M-u: perl:tabbedex:prev_tab
! URxvt.keysym.M-i: perl:tabbedex:next_tab
! URxvt.keysym.M-c: perl:tabbedex:new_tab
! URxvt.keysym.M-Left: perl:tabbedex:prev_tab
! URxvt.keysym.M-Right: perl:tabbedex:next_tab
! URxvt.keysym.M-Up: perl:tabbedex:new_tab
! URxvt.keysym.M-Down: perl:tabbedex:rename_tab
URxvt.pastableTabs: false
URxvt.keysym.M-C-u: perl:url-select:select_next

URxvt.keysym.M-C-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search

URxvt.keysym.M-C-slash:  perl:aAtt:fuzzy-word-complete
URxvt.keysym.M-question: perl:aAtt:fuzzy-complete
URxvt.keysym.M-quotedbl: perl:aAtt:undo
URxvt.keysym.M-C-apostrophe: perl:aAtt:undo
URxvt.keysym.M-apostrophe: perl:aAtt:complete

URxvt*keysym.M-o: perl:cwd-spawn


rofi.terminal: urxvtcd
rofi.modi: window,ssh,run

!Xcursor.theme: whiteglass
