! vim: set fdm=marker :

Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xft.lcdfilter:  lcddefault


Emacs.font: DejaVu Sans Mono-11

dzen2.font: Bitstream Vera Sans Mono:bold:size=12

!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!! urxvt !!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!

! URxvt.background-expr: rootalign keep {shade FOCUS ? -0.95 : -0.85, blur 2, root}
urxvt*background:     black
urxvt*foreground:     #eeeeee


! "Bold" color
urxvt*colorBD:        #ffffff
! The selection
urxvt*highlightColor: #5555ff

! Black
urxvt*color0:  #111111
! Red
urxvt*color1:  #dc0000
! Green
urxvt*color2:  #00cc00
! Yellow
urxvt*color3:  #c4a000
! Blue
urxvt*color4:  #4276b8
! Magenta
urxvt*color5:  #95709b
! Cyan
urxvt*color6:  #0b939b
! White
urxvt*color7:  #d3d7cf
! Bright black
urxvt*color8:  #555753
! Bright red
urxvt*color9:  #ef2929
! Bright green
urxvt*color10: #00ff00
! Bright yellow
urxvt*color11: #fce94f
! Bright blue
urxvt*color12: #729fcf
! Bright magenta
urxvt*color13: #ad7fa8
! Bright cyan
urxvt*color14: #00f5e9
! Bright white
urxvt*color15: #eeeeec

urxvt.font: xft:terminus:pixelsize=12:antialias=false
!URxvt*font: xft:DejaVu Sans Mono:style=Book:size=10.5:antialias=true:hinting=true
URxvt.imLocale: en_US.utf8

! Disable ctrl+shift
URxvt.iso14755_52: false
!URxvt.iso14755: false

urxvt.scrollBar: false
urxvt.urgentOnBell: true
Urxvt.secondaryScroll: false

! Save more scrollback lines.
URxvt.saveLines: 10240

! Protip: If PrintScreen is already bound, may be triggered with Shift+PrintScreen.
URxvt.print-pipe: cat > $HOME/urxvt.dump.$(date +'%F_%H%m%S')

URxvt.perl-ext-common: default,matcher,confirm-paste,url-select,keyboard-select,resize-font,autocomplete-ALL-the-things,cwd-spawn
URxvt.matcher.button: 3
URxvt.pastableTabs: false

URxvt.url-select.launcher: webbrowser-dwim
URxvt.url-select.autocopy: true
URxvt.keysym.M-C-u: perl:url-select:select_next

URxvt.keysym.M-S: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search

URxvt.keysym.M-C-slash:  perl:aAtt:fuzzy-word-complete
URxvt.keysym.C-Tab:      perl:aAtt:fuzzy-word-complete
URxvt.keysym.M-question: perl:aAtt:fuzzy-complete
URxvt.keysym.M-quotedbl: perl:aAtt:undo
URxvt.keysym.M-C-apostrophe: perl:aAtt:undo
URxvt.keysym.M-apostrophe: perl:aAtt:surround-complete

URxvt*keysym.M-o: perl:cwd-spawn

! Match the git branch in zsh $RPS1
URxvt.selection.pattern-0: : ?([^:]*)

! Match the command line after the prompt. TODO: ignore the git branch.
URxvt.selection.pattern-1: [>λ$#] +(.*)
